<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Delete Product</title>
<link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
	<h1>Are you sure want to delete this product ?</h1>
	<form method="POST">
		<p>
			Product Code:
			<span th:text="${product.code}"></span>
		</p>
		<p>
			Product Description:
			<span th:text="${product.description}"></span>
		</p>
		<p>
			Product Price:
			<span th:text="${product.price}"></span>
		</p>
		<input type="submit" value="Yes" name="submit">
		<input type="submit" value="No" name="submit">
	</form>
</body>
</html>